@import url(./common/common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: rgb(255, 255, 255,0.5);
    z-index: 10;
    /* 不佔位 */
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    
} 





/* fullpage圖片 */
/* .fullpage .fp-tableCell{
    width: 100%;
	height: auto;
	display: block;
}    */

 /* .fullpage .fullpage_img1{
    width: 100%;
	height: auto;
	display: block;
}  */


/* 頁面上的a連結按鈕 */ 

.fullpage{ 
    position: absolute;
}

.section a{
    position: relative;
} 

.button_f1 a{
    width: 100px;
    font-size: 16px;
    color: #fff;
    /* left:235px;
    top:400px;  */
    text-decoration: none;
    border: 6px solid rgb(132, 202, 118); 
    background-color: rgb(132, 202, 118);
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.button_f1{
    /* width: 100px; */
    /* display: block;
    text-align: center; */
}

.button_f2 a{
    width: 120px;
    font-size: 16px;
    color: #fff;
    /* left:1000px;
    top:280px; */
    text-decoration: none;
    border: 6px solid rgb(79, 150, 209);
    background-color: rgb(79, 150, 209);
    border-radius: 10px;
    display: block;
    margin-left: auto;
}

.button_f2{
    /* width: 100px; */
    display: block;
    text-align: center; 
    /* object-position: center; */
}


.button_f3 a{
    width: 100px;
    font-size: 16px;
    color: #fff;
    /* left:746px;
    top: 313px;px; */
    text-decoration: none;
    border: 6px solid rgb(241, 182, 31);
    background-color: rgb(241, 182, 31);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.button_f3{
    /* width: 100px; */
    display: block;
    text-align: center;
    object-position: center;
    padding-top:10px ;
}


/* 按鈕的hover效果 */


@keyframes swing{
    15%{transform: translateX(5px);} 
    40%{transform: translateX(-5px);}
    65%{transform: translateX(2px);}
    85%{transform: translateX(-2px);}
    100%{transform: translateX(0px);}
}

.button_f1 a{
    transition: 0.5s;
}

.button_f1 a:hover{
    animation: swing 1s 1;
    color: #fff;
}


.button_f2 a{
    transition: 0.5s;
}

.button_f2 a:hover{
    animation: swing 1s 1;
    color: #fff;
}

.button_f3 a{
    transition: 0.5s;
}

.button_f3 a:hover{
    animation: swing 1s 1;
    color:#fff;
}

/* 解決因為a連結按鈕而出現的頁面留白 */

.fp-tableCell{
    position: relative;
    overflow: hidden;
}

.fullpage_img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.fullpage_img1{
    /* top: 0;
    right: 0; */
    width: 100%;
    height: 100%;
    /* 盡量讓他置中 
    object-fit: cover;
    object-position: center;*/
} 

.f1h img{
    width: 500px;
}

.f1h{
    position: absolute;
    z-index: 9;
    /* left:100px; */
    /* top:400px; */
    left: 10vw;
    top: 25vw;
}




.fullpage_img2{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.f2h img{
width: 600px;
}

.f2h{
    position: absolute;
    z-index: 9;
    /* right:250px;
    top:200px; */
    right: 20vw;
    top: 15vw;
}

.fullpage_img3{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.f3h img{
    width: 400px;
}

.f3h{
    position: absolute;
    z-index: 9;
    /* right:380px;
    top: 160px; */
    right: 25vw;
    top: 8vw;
}



        

  
  



   @media screen and (min-width: 1024px) and (max-width: 1279.98px){
    .f1h img{
        width: 400px;
    }
    .f1h{
        width: 300px;
        left: 10vw;
        top: 30vw; 
    }

    .f2h img{
        width: 600px;
        } 

    .f3h img{
        width: 300px;
    }
    
  } 
  @media screen and (min-width: 768px) and (max-width: 1023.98px){
    .f1h img{
        width: 300px;
    }
    .f1h{
        width: 300px;
        left: 10vw;
        top: 40vw; 
    }

    .f2h img{
        width: 400px;
        }
    .f2h{
        width: 400px;
        /* left: 40vw;
        top: 30vw; */
    }
        
    .f3h img{
        width: 250px;
    }
    .f3h{
        width: 250px;
        /* left: 50vw;
        top: 20vw;*/
    } 

  } 

  @media screen and (min-width: 575.98px) and (max-width: 767.98px){
    .f1h img{
        width: 100px;
    }
    .f1h{
        width: 200px;
        left: 10vw;
        top: 30vw; 
    }


    .f2h img{
        width: 380px;
        }

    .f3h img{
        width: 250px;
    }
    .f3h{
        width: 250px;
        /* left: 24vw;
        top: 60vw; */
    }
  } 

  @media screen and (max-width: 575.98px){
    .f1h img{
        width: 200px;
    }
    .f1h{
        width: 200px;
        left: 1vw;
        top: 104vw;
    }

    .f2h img{
        width: 350px;
        }
    .f2h{
        width: 250px;
        left: 4vw;
        top: 55vw;
    }

    .f3h img{
        width: 200px;
    }
    .f3h{
        width: 200px;
        left: 24vw;
        top: 70vw;
    }
}  
















 








