@import url(./common/common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.banner1{
    padding-bottom: 10px;
    width: 100%;
	height: auto;
	display: block;
}


/* slick start */

/* HOT標籤 */
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mark{
    position: absolute;
    top:5px;
    left:5px;
}

.mark:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 28px;
    z-index: 1;
    border-color: rgba(206, 3, 5, .7) transparent transparent rgba(206, 3, 5, .7);
  }
 
  .text {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
    color: #FFF;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    font-size: 16px;
    text-transform: uppercase;
    width: 40px;
    text-align: center;
  }


button.slick-next.slick-arrow{
    display: none !important;
}


.img_wrap{
    padding:5px;
    position: relative;
}
.productdemo_sliders li img{
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
}

.productdemo_sliders a{
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center; 

}


.productdemo_sliders li h2{
    padding-top: 15px;
    padding-bottom: 20px;
}

/* slick end */

/* productdemo  */
.productdemo{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.productdemo li img{
    height: 340px;   
     width: calc((1200px - 40px)/4);  
    /* width: 100%; */
    /* min-width: 100%;
    min-height: 100%; */
} 

.productdemo a{
    width: calc((1200px - 80px)/4); 
}

/*img不要變形
.productdemo li {
    width: 250px;
    height: 340px; 
    overflow: hidden;
    border: 2px solid red; 
} 

.productdemo li img{
    max-width: 100%;
}*/


nav ul > li:nth-child(4n){
    margin-right: 0; /*四的倍數的 不能有20 才不會因空間不足掉下去*/
}

.productdemo a{
    color: #000;
    text-decoration: none;
}

.product-name{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.productdemo li img{
     padding-left: 20px; 
}


.productdemo li a{
    /* display: block; */
    text-align: center;
}


/* 淡入深出hover */
.productdemo img{
    transition: 0.5s;
    opacity: 0.8;
}

.productdemo img:hover{
    opacity: 1;
}

.productdemo_sliders img{
    transition: 0.5s;
    opacity: 0.8;
}

.productdemo_sliders img:hover{
    opacity: 1;
}


@media screen and (max-width: 1279.98px){
    div.wrap{
      width: 960px;
    }
  } 


@media screen and (max-width: 1023.98px){
    div.wrap{
      width: 720px;
    }
  } 

@media  (max-width: 767.98px){
    div.wrap{
      width: 500px;
    }
  }  

@media screen and (max-width: 575.98px){
    div.wrap{
        width: 100%;
        margin: 0 auto;
      }
  
      /* .productdemo ul{
          width: 100%;
      }  */
  
      .productdemo li{
          width: 70%; 
         /* width: 300px;  */
     }
      .productdemo li img{
          /* width: 250px; */
          /* height: 340px;   */  
          min-width: 100%;
          min-height: 100%;
      } 
      
      nav ul > li:nth-child(2n){
          margin-right: 0;
      }
    
    .productdemo{
        width: 100%;
    }
    .productdemo_sliders{
        width: 100%;
    }

    footer p{
        font-size: 10px;
        line-height: 1.2;
    }

  }
  
  

 
  