@import url(./common/common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}

header nav .shop_dropdownlist span.a{
    color: rgb(133, 7, 7);
  }


body{
    font-family: 'Raleway', sans-serif;
}


.wrap{
    width: 1200px;
    margin: 0 auto;
} 

.banner1{
    width: 100%;
	height: auto;
	display: block;
}

.banner2{
    width: 100%;
	height: auto;
	display: block;
}

.productdemo{
    padding-top: 10px; 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.productdemo li img{
    /* width: 250px; */
    width: calc(1200px - 60px)/4);
    height: 340px;  
} 

nav ul > li:nth-child(4n){
    margin-right: 0; /*四的倍數的 不能有20 才不會因空間不足掉下去*/
}

.productdemo a{
    color: #000;
    text-decoration: none;
    /* background-color: rgb(166, 205, 221); */
}

.product-name{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.productdemo li a{
    padding-left: 20px;
}

.productdemo li a{
    display: block;
    text-align: center;
}

/* 淡入深出hover */
.productdemo img{
    transition: 0.5s;
    opacity: 0.8;
}

.productdemo img:hover{
    opacity: 1;
}



@media screen and  (max-width: 1279.98px){
    div.wrap{
      width: 960px;
    }
  } 

  @media screen and  (max-width: 1023.98px){
    div.wrap{
      width: 720px;
    }
  } 
  
@media screen and (max-width: 767.98px){
    div.wrap{
      width: 500px;
    }

  } 

@media screen and (max-width: 575.98px){
    div.wrap{
      width: 100%;
      margin: 0 auto;
    }

    /* .productdemo ul{
        width: 100%;
    }  */

    .productdemo li{
        width: 70%; 
       /* width: 300px;  */
   }
    .productdemo li img{
        /* width: 250px; */
        /* height: 340px;   */  
        min-width: 100%;
        min-height: 100%;
    } 
    
    nav ul > li:nth-child(2n){
        margin-right: 0;
    }

    .productdemo li a{
        padding-left: 0px;
    }

    footer p{
        font-size: 10px;
        line-height: 1.2;
    }
  }

 


  
  